.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-container .white-button {
  background-color: white; /* Set button background color to white */
  color: #800080; /* Set button text color to purple */
  border: 2px solid #800080; /* Set button border color to purple */
}

.button-container .white-button:hover {
  background-color: #f0f0f0; /* Slightly darker white on hover */
}

.button-container button {
  background-color: #800080; /* Set button background color to purple */
  margin-right: 10px; /* Adjust the spacing between button and p element */
  position: relative;
  overflow: hidden;
  transition: background-color 0.3s;
}

.button-container button:active {
  background-color: #f0f0f0;
}

.button-container button span {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #800080; /* Set button background color to purple */
  top: 50%;
  left: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(0);
  border-radius: 50%;
  animation: ripple 0.6s linear;
}

@keyframes ripple {
  to {
    transform: translate(-50%, -50%) scale(4);
    opacity: 0;
  }
}

.site-page-footer {
  display: none;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  /* padding: 10px; */
  /* box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); */
  border-top: 0.5px solid lightgray;
  opacity: 0.9;
  align-items: center;
  justify-content: space-around;
}

.site-page-icon-button {
  padding: 7px 15px 3px 15px;
  color: black;
}

.site-page-header-mobile {
  display: none;
}

.site-page-mobile-menu {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 93vh;
  align-items: flex-end;
  justify-content: flex-end;
}

.site-page-menu-container {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
}

.site-page-menu-item {
  display: flex;
  align-items: center;
  color: black;
  column-gap: 10px;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 18px;
}

@media (max-width: 650px) {
  .site-page-footer {
    display: flex;
  }

  .site-page-header-pc {
    display: none;
  }

  .site-page-header-mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 0.5px solid lightgray;
    margin-bottom: 15px;
  }
}


/* Additional table styles for RankPage */
.top-pets-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.top-pets-table th,
.top-pets-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.top-pets-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #333;
  color: white;
}


.header-container {
  display: flex;
  flex-direction: column; /* Stack items vertically */
}

.top-line {
  display: flex;
  align-items: center; /* Align items vertically in the center */
  justify-content: flex-end; /* Align items to the right */
  margin-bottom: 10px; /* Add some space between the top line and NavBar */
}

.wallet-container {
  display: flex;
  align-items: center;
}

.app-icon-button.connect {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 10px; /* Space between wallet button and profile button */
}

.profile-button {
  display: flex;
  align-items: center;
  cursor: pointer;
}


